body{
  padding: 0px;
  margin: 0px;
  background-color: #F2F2F2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
  max-width: 1280px;
  width: 100%;
  margin:0 auto;
  background-color: aqua;
}
.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.hebergment .grid > div{
  width: 30%;
}
.hebergment .grid > div img{
  width: 100%;
}
.container > .grid > div{
  padding: 15px;
}
.grid > div.hebergement {
  width: 60%;
  height: 450px;
  background-color: #EFEFEF;
}
.grid > div.populaire {
  width: 30%;
  height: 450px;
  background-color: #EFEFEF;
}
@media screen and (max-width: 780px) {
  .grid > div{
    width: 100%!important;
    margin: 20px 0px;
  }
}
