@font-face {
	font-family: 'Raleway';
	src: url('police/static/Raleway-regular.ttf');	
}
body{
	font-family: 'Raleway', Arial, serif;
	font-size:1.2em;
    padding:5px 5px 0px 5px;
    margin:0px;	
}
.container{
    width:100%;
    max-width: 1700px;
    margin:28px auto;
}
h1{
    font-size:1.2em;
}
header{
	flex-flow: row nowrap;
    margin-top:20px;
}
#nav{
	display:flex;
	width: 100%;
	justify-content: flex-end;
    margin-top:-50px;
}
#nav li{
	margin-left:40px;
}
.second-menu{
    display:none;
}
.sous-menu{
    display:none;
}
a {
	color:black;
	text-decoration: none;
}
#nav a:hover{
	border-top: 2px solid #0065FC;
    padding-top:44px;
	color: #0065FC;	
}
.recherche2{
    display:none;
}
#recherche{
	border: 2px solid #E2E2E2;
	border-radius: 8px;
	width:40px;
    height:40px;
	background-color:#E2E2E2;
    position:relative;
    justify-content: center;
}
#recherche img{
    width:20px;
    height:20px;
    padding:6px;
}
#recherche a{
	padding:10px;
	color:white;
    margin-left:300px;
	border-radius: 12px;
	background-color: #0065FC;
	text-decoration: none;
}
#recherche input {
    bottom:-2px;
    height:38px;
    width:305px;
    margin-left:-1px; 
    position:absolute; 
}
header ul{
	list-style: none;
	display: flex;
}
#filtres{
	display: flex;
    align-items: center;
    font-weight: bold;
    padding-left:50px;
	font-size:0.8em;
	margin-left:-50px;			
}
#filtres li:hover{
	background-color: #0065FC;
	color: white;
}
#filtres li{
	display: flex;
    fill:#0065FC;
	align-items: center;
	margin-right: 50px;
	padding-right: 8px;
	justify-content:space-between;
	border: 2px solid #E2E2E2;
	border-radius:20px;
}
#filtres img{
	background-color:#deebff;
    padding:10px;
	border-radius: 50px;
	width:20px;
	height:22px;
    position:relative;
    right:3px;  
}
#info{
    display: flex;
    align-items: center;
}
#info img{
    width:20px;
    height:20px;
    border:2px solid #E2E2E2;
    border-radius:20px;
    padding:4px;
    margin-right: 5px;
}
.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section{
    display: flex;
}
#hebergement{
    display: flex;
    flex-flow:row wrap;
}
#hebergement a{
    width:30%;
}
.grid > div#hebergement{
    display: flex;    
    width: 60%;
    height: 700px;
    background-color:#E2E2E2;
    border-radius: 20px;
}
.conteneur{
    display: flex;
    width:100%;
    justify-content: space-around;
    flex-flow:row wrap;
    font-size:0.8em;
}
.onglet_hotel{
    margin-top:15px;
}
.onglet_hotel figcaption{
    margin-left:-20px;
    margin-top:-10px;
}
#hebergement h4{
    font-size: 1.5em;  
    padding-left:20px;
    margin-top:30px;
}
.blue{
    color:#0065FC;
}
.gris{
    color:#E2E2E2;
}
#hebergement h2{
    font-size: 1em;
    margin-top: 25px;
}
#hebergement h3{
    font-size: 1em;
    margin-left:20px;
    margin-top:15px;
    font-weight: bold;
}
.conteneur div{
    border-radius:20px;
    background-color:white; 
    height:250px;
    line-height:10px;
    padding:5px;
    box-shadow: 4px 4px 4px rgb(153, 153, 153);
}
#hebergement img{
    width: 100%;
    height:150px;
    object-fit: cover;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}
.grid > div.populaire {
    display: flex;
    height:700px;
    width:35%;
    background-color:#E2E2E2;
    border-radius: 20px;
    justify-content: center;
    flex-flow:row wrap;
}
.populaire h4{
    font-weight: bold;
    font-size:1.5em;
}
.populaire h2{
    font-size:0.9em;
}
.titrepop{
    display:flex;
    justify-content: space-between;
}
.titrepop > i{
    float:right;
    margin-top:50px;
    margin-left: 50px;
}
.pop figcaption{
    margin-top: -20px;
    font-size: 0.9em;
}
#conteneurdroit div{
    display:flex;
    margin-bottom:40px;
    margin-left:10px;
    background-color:white;
    width:95%;
    height:150px;   
    border-radius:20px;
    font-size:1em;
    box-shadow: 4px 4px 4px rgb(153, 153, 153);
}
.populaire img{  
    position: relative;
    width:140px;
    height:140px;
    object-fit: cover;
    padding-top:5px;
    padding-left:5px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#activite{
    width:100%;
    height:500px;
}
.grandeimage{
    width:100%;
    height:450px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(153, 153, 153);
}
.conteneuractivite{
    display: flex;
    justify-content: space-between;
}
.conteneuractivite div{
    width:350px;
}
.conteneuractivite h2{
    font-size:0.9em;
    margin-left: 20px;
}
.grandeimage img{
    width:100%;
    height:90%;
    object-fit: cover;
    border-top-left-radius:20px ;
    border-top-right-radius:20px;
}
.fort{
    width:100%;
    height:250px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(153, 153, 153);
}
.fort img{
    width:100%;
    height:80%;
    border-top-left-radius:20px ;
    border-top-right-radius:20px;
}
.frioul{
    width:100%;
    height:150px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(153, 153, 153);
}
.frioul img{
    width:100%;
    height:70%;
    border-top-left-radius:20px ;
    border-top-right-radius:20px;
}
.colonne2{
    display:flex;
    flex-direction:column;
}
.moyenne{
    width:100%;
    height:200px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(153, 153, 153);
}
.moyenne img{
    width:100%;
    height:75%;
    border-top-left-radius:20px ;
    border-top-right-radius:20px;
}
footer{ 
    background-color:#E2E2E2;
    margin-top:50px;
    width: 100%;
    height:250px;
}
.footer{
    display:flex;
    justify-content: space-around;
    align-items:center;
}
footer ul{
    list-style-type: none;
    margin-top:50px;
}
footer li{
    margin-top:15px;
}
@media only screen and (min-width: 320px) and (max-width:700px)
{
    body{
        margin:0px;
    }
    header{
        width:100%;  
    }
    #nav{
        
    }
    .container{
        
       flex-direction: row-reverse;
    }
    .sous-menu{
        display:flex;
        width:100%;
        justify-content:space-around;
        margin-bottom:20px;
        margin-top:40px;
    }
    .inscription2{
        color:#0065FC;
    }
    .menu2{
        width:50%;
        border-bottom: 2px solid rgb(194,185,185);
        padding-bottom:10px;
        text-align:center;
    }
    .menu2:hover{
        color:#0065FC;
        border-bottom: 2px solid #0065FC;
    }
    .second-menu{
        display:flex;
        font-weight: bold;
        justify-content:flex-end;
        margin-right:10%;
        margin-top:-35px;
    }
    #recherche{
        display:none;
    }
    .recherche2{
        display:flex;
        margin-bottom:30px;
        width:100%;
    }
    .recherche2 label > i{
        padding:8px;
        padding-bottom:13px;
        margin-left:50px;
        border-radius: 10px 0px 0px 10px;
        background-color: #E2E2E2;
    }
    .recherche2 input{
        width:60%;
        padding:10px;
        margin-left: -5px;
        border:1px solid #E2E2E2;  
    }
    ::placeholder{
        color: black;
        font-weight: bold;
    }
    .recherche2 button{
        border:1px solid #E2E2E2;
        border-style: hidden;
        border-radius: 10px;
        margin-left:-10px;
        background-color: #0065FC;
    }
    .recherche2 button i{
        color:white;
        padding:12.5px;
    }
    #filtres{
        flex-direction: column;
    }
    #filtres li{
        margin-right:20px;
    }
    #filtres p{
        width:80%;
    }
    #filtres ul{
        flex-flow:row wrap;
        margin-left:-50px;
        width:80%;
        justify-content: flex-start;
    }
    #info{
        padding:0px 20px;
    }
    .grid> .populaire{
        width:100% !important;
        border-radius: 0px !important;
    }
    .pop figcaption{
        width:150px;
        margin-left:-20px;
    }
    section{
        flex-wrap: wrap;
    }
    .grid>div#hebergement{
        background-color:white;
    }
    #hebergement a{
        width:100%;
    }
    #hebergement{
        width:100% !important;
        margin-top:700px;
    }
    #hebergement h4{
        font-size:1.4em;
        font-weight:bold;
    }
    #hebergement h3{
        font-size: 1.2em;
        margin-left:45px;
    }
    .conteneur{
        width:100%;
        display:flex;
        flex-flow: row wrap;
    }
    .conteneur div{
        justify-content: center;
        width:95%;  
    }
    #hebergement img{
        width:100%;
    }
    #activite{
        margin-top:1000px;
        padding:40px;
    }
    #activite h4{
        margin-left:5px;
    }
    #activite img{
        width:100%;
        height:200px;
    }
    .frioul{
        margin-top:840px;
    }
    .conteneuractivite{
        flex-flow: column wrap;
    }
    .conteneuractivite div{
        height:240px;
        width:100%;
        margin-bottom:40px;
    }
    footer{
        width:100%;
    }
    .footer{
        margin-top:1200px;
        display:flex;
        flex-direction: column;
        background-color:#E2E2E2;
    }
    .footer ul{
        width:70%;
    }   
}
@media only screen and (min-width: 701px) and (max-width:1000px)
{
    body{
        margin:0px;
    }
    header{
        width:100%;  
    }
    #nav{
        display:none;
    }
    .container>img{
        margin-left:20px;    
    }
    .sous-menu{
        display:flex;
        width:100%;
        justify-content:space-around;
        margin-bottom:20px;
        margin-top:40px;
    }
    h1,p {
        padding:0px 20px;
    }
    .inscription2{
        color:#0065FC;
    }
    .menu2{
        width:50%;
        border-bottom: 2px solid rgb(194,185,185);
        padding-bottom:10px;
        text-align:center;
    }
    .menu2:hover{
        color:#0065FC;
        border-bottom: 2px solid #0065FC;
    }
    .second-menu{
        display:flex;
        font-weight: bold;
        justify-content:flex-end;
        margin-right:10%;
        margin-top:-35px;
    }
    #recherche{
        margin-left:10%;
    }
    .recherche2{
        display:none;
    }
    #filtres{
        flex-direction: column;
    }
    #filtres p{
        width:80%;
        font-size: 1.3em;
    }
    #filtres ul{
        flex-flow:row wrap;
        margin-left:-50px;
        width:80%;
        justify-content: flex-start;
    }
    #info{
        padding:0px 20px;
    }
    .grid>div#hebergement{
        width:100% !important;
        height: 700px;
        border-radius:0px !important;
    }
    .grid> .populaire{
        width:100% !important;
        padding:15px;
        z-index:1;
        border-radius:0px !important;
    }
    .pop p{
        margin-left:-20px;
    }
    section{
        flex-wrap: wrap;
    }
    #hebergement p{
        margin-left:-20px;
    }
    #hebergement h4{
        font-size:1.4em;
        font-weight:bold;
        margin-left:25%;
    }
    #hebergement h3{
        font-size: 1.2em;
        margin-left:40%;
    }
    #activite{
        padding:0px 40px;
        width:100%;
    }
    #activite img{
        width:100%;
        height:200px;
    }
    .frioul{
        margin-top: 0px;
    }
    .conteneuractivite{
        flex-flow: column wrap;
        height:565px;
        width:100%;
    }
    .conteneuractivite div{
        height:240px;
        width:300px;
        margin-bottom:40px;
    }
    footer{
        width:100%;
    }
    .footer{
        margin-top: 400px;
        display:flex;
        background-color:#E2E2E2;
    }
}