@font-face {
	font-family: 'Raleway';
	src: url('police/static/Raleway-regular.ttf');
}
body{
    font-family: 'Raleway', Arial, serif;
	font-size:1.2em;
    padding:5px 10px 0px 10px;
}
ul {
    list-style: none;
    padding-inline-start: 0px;
}
a{
    color: inherit;
	text-decoration: none;
}
.filtres li:hover{
    background-color: #0065FC;
    color: white;
}
.blue{
    color:#0065FC;
}
.gris{
    color: #E2E2E2;
}
h2{
    font-size:1.2rem;
}
@media only screen and (min-width: 0px) and (max-width:700px)
{
    body{
        width: 100%;;
    }
    header{
        width:100%;
    }
    .nav{
        justify-content:space-between;
    }
    .nav img {
        width:40%;
        margin-left:-50%;
    }
    .menu{
        display:flex;
        width:100%;
        border-bottom: 2px solid rgb(194,185,185);
        margin-left: -5%;;
    }
    .nav li{
        display:flex;
        width:60%;
        flex-direction: row;
        justify-content:space-around;
    }
    .highlight{
        float:right;
        margin-top:-8%;
        color:#0065FC;
    }
    .container>p{
        font-size:1rem;
    }
    h1{
        font-size: 1.5rem;
        font-weight:bold;
    }
    .gridform{
        display:flex;
        justify-content:center;
    }
    .gridform>div>i{
        background-color:#F2F2F2;
        padding:10px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    input{
        padding:10px 10px;
        border:2px solid #F2F2F2;
    }
    button{
        padding:10px;
        border-radius: 10px;
        background-color:#0065FC;
        overflow:hidden;
        margin-left:-5px;
    }
    .filtre{
        font-size: 0.85rem;
        font-weight:bold;
    }
    .filtre li{
        display:flex;
        align-items: center;
        border: 2px solid #E2E2E2;
        border-radius:20px;
        margin-bottom:3%;
        height:30px;
        width:50%;
       
    }
    .filtre p{
        margin-left:5%;
    }
    .filtre i{
        padding:10px;
        border-radius:20px;
        color:#0065FC;
        background-color:#DEebff ;
        margin-left:-5px;
        overflow:hidden;
    }
    .info{
        font-size:1rem;
    }
    .info i{
        color:#0065FC;
        font-size: 0.7rem;
        border:2px solid #F2F2F2;
        border-radius:10px;
        padding:3px 6px ;
    }
    #populaire{
        background-color: #F2F2F2;
        padding-left:20px;
        margin-left:-20px;
        padding-right:20px;
        margin-right:-10px;
        height:650px;
        padding-top:30px;
    }
    #populaire>i{
        float:right;
        margin-top: -12%;
    }
    .pop i{
        flex-direction: row;
    }
    .pop{
        display:flex;
        align-items:center;
        margin-bottom:40px;
        height:150px;   
        border-radius:20px;
        font-size:0.9rem;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
        width:100%;
        background-color:#fff;
    }
    .pop img{
        position: relative;
        margin-left:5px;
        width:45%;
        height:140px;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    .pop div{
        flex-direction: column;
        margin-left: 5%;
        margin-top:-5%;
    }
    .pop p{
        margin-bottom:25%;
    }
    #hebergement{
        width:98%;
    }
    .contain{
        font-size:0.8rem;
        border-radius:20px;
        margin-bottom:5%;
        background-color:white; 
        height:230px;
        line-height:10px;
        padding:5px 5px 5px 5px;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
    }
    .hbg{
        margin-left: 10px;
    }
    #hebergement img{
        width: 100%;
        height:150px;
        object-fit: cover;
        border-top-left-radius:20px;
        border-top-right-radius: 20px;
    }
    .activite{
        font-size:0.8rem;
        border-radius:20px;
        margin-bottom:5%;
        width:95%;
        background-color:white; 
        height:190px;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
    }
    .activite h3{
        margin-left:20px;
        margin-top:10px;
    }
    .activite img{
        width: 100%;
        height:150px;
        object-fit: cover;
        border-top-left-radius:20px;
        border-top-right-radius: 20px;
    }
    .gridfooter{
        background-color: #F2F2F2;
        padding-top: 20px;
        padding-left:20px;
        margin-left:-20px;
        padding-right:20px;
        margin-right:-10px;
        padding-bottom:10px;
        margin-bottom:-8px;
    }
    .gridfooter li{
        line-height:40px;
    }
    .gridfooter ul{
        margin-top:-10px;
    }

}
@media only screen and (min-width: 701px) and (max-width:1440px)
{
    nav img{
        justify-content:flex-start;
    }
    .nav{
        display:flex;
        justify-content:flex-end;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 2540px)
{
    #nav{
        display:flex;
        width: 100%;
        justify-content: flex-end;
        margin-top:-50px;
    }
    #nav li{
        margin-left:40px;
    }
    .second-menu{
        display:none;
    }
    .sous-menu{
        display:none;
    }
    a {
        color:black;
        text-decoration: none;
    }
    #nav a:hover{
        border-top: 2px solid #0065FC;
        padding-top:44px;
        color: #0065FC;	
    }
    .recherche2{
        display:none;
    }
    #recherche{
        border: 2px solid #E2E2E2;
        border-radius: 8px;
        width:40px;
        height:40px;
        background-color:#E2E2E2;
        position:relative;
        justify-content: center;
    }
    #recherche img{
        width:20px;
        height:20px;
        padding:6px;
    }
    #recherche a{
        padding:10px;
        color:white;
        margin-left:300px;
        border-radius: 12px;
        background-color: #0065FC;
        text-decoration: none;
    }
    #recherche input {
        bottom:-2px;
        height:38px;
        width:305px;
        margin-left:-1px; 
        position:absolute; 
    }
    header ul{
        list-style: none;
        display: flex;
    }
    #filtres{
        display: flex;
        align-items: center;
        font-weight: bold;
        padding-left:50px;
        font-size:0.8em;
        margin-left:-50px;			
    }
    #filtres li:hover{
        background-color: #0065FC;
        color: white;
    }
    #filtres li{
        display: flex;
        fill:#0065FC;
        align-items: center;
        margin-right: 50px;
        padding-right: 8px;
        justify-content:space-between;
        border: 2px solid #E2E2E2;
        border-radius:20px;
    }
    #filtres img{
        background-color:#deebff;
        padding:10px;
        border-radius: 50px;
        width:20px;
        height:22px;
        position:relative;
        right:3px;  
    }
    #info{
        display: flex;
        align-items: center;
    }
    #info img{
        width:20px;
        height:20px;
        border:2px solid #E2E2E2;
        border-radius:20px;
        padding:4px;
        margin-right: 5px;
    }
    .grid{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    section{
        display: flex;
    }
    #hebergement{
        display: flex;
        flex-flow:row wrap;
    }
    #hebergement a{
        width:30%;
    }
    .grid > div#hebergement{
        display: flex;    
        width: 60%;
        height: 700px;
        background-color:#E2E2E2;
        border-radius: 20px;
    }
    .conteneur{
        display: flex;
        width:100%;
        justify-content: space-around;
        flex-flow:row wrap;
        font-size:0.8em;
    }
    .onglet_hotel{
        margin-top:15px;
    }
    .onglet_hotel figcaption{
        margin-left:-20px;
        margin-top:-10px;
    }
    #hebergement h4{
        font-size: 1.5em;  
        padding-left:20px;
        margin-top:30px;
    }
    .blue{
        color:#0065FC;
    }
    .gris{
        color:#E2E2E2;
    }
    #hebergement h2{
        font-size: 1em;
        margin-top: 25px;
    }
    #hebergement h3{
        font-size: 1em;
        margin-left:20px;
        margin-top:15px;
        font-weight: bold;
    }
    .conteneur div{
        border-radius:20px;
        background-color:white; 
        height:250px;
        line-height:10px;
        padding:5px;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
    }
    #hebergement img{
        width: 100%;
        height:150px;
        object-fit: cover;
        border-top-left-radius:20px;
        border-top-right-radius: 20px;
    }
    .grid > div.populaire {
        display: flex;
        height:700px;
        width:35%;
        background-color:#E2E2E2;
        border-radius: 20px;
        justify-content: center;
        flex-flow:row wrap;
    }
    .populaire h4{
        font-weight: bold;
        font-size:1.5em;
    }
    .populaire h2{
        font-size:0.9em;
    }
    .titrepop{
        display:flex;
        justify-content: space-between;
    }
    .titrepop > i{
        float:right;
        margin-top:50px;
        margin-left: 50px;
    }
    .pop figcaption{
        margin-top: -20px;
        font-size: 0.9em;
    }
    #conteneurdroit div{
        display:flex;
        margin-bottom:40px;
        margin-left:10px;
        background-color:white;
        width:95%;
        height:150px;   
        border-radius:20px;
        font-size:1em;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
    }
    .populaire img{  
        position: relative;
        width:140px;
        height:140px;
        object-fit: cover;
        padding-top:5px;
        padding-left:5px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    #activite{
        width:100%;
        height:500px;
    }
    .grandeimage{
        width:100%;
        height:450px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
    }
    .conteneuractivite{
        display: flex;
        justify-content: space-between;
    }
    .conteneuractivite div{
        width:350px;
    }
    .conteneuractivite h2{
        font-size:0.9em;
        margin-left: 20px;
    }
    .grandeimage img{
        width:100%;
        height:90%;
        object-fit: cover;
        border-top-left-radius:20px ;
        border-top-right-radius:20px;
    }
    .fort{
        width:100%;
        height:250px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
    }
    .fort img{
        width:100%;
        height:80%;
        border-top-left-radius:20px ;
        border-top-right-radius:20px;
    }
    .frioul{
        width:100%;
        height:150px;
        margin-top: 50px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
    }
    .frioul img{
        width:100%;
        height:70%;
        border-top-left-radius:20px ;
        border-top-right-radius:20px;
    }
    .colonne2{
        display:flex;
        flex-direction:column;
    }
    .moyenne{
        width:100%;
        height:200px;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgb(153, 153, 153);
    }
    .moyenne img{
        width:100%;
        height:75%;
        border-top-left-radius:20px ;
        border-top-right-radius:20px;
    }
    footer{ 
        background-color:#E2E2E2;
        margin-top:50px;
        width: 100%;
        height:250px;
    }
    .footer{
        display:flex;
        justify-content: space-around;
        align-items:center;
    }
    footer ul{
        list-style-type: none;
        margin-top:50px;
    }
}